<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net45" />
  <package id="System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net40" />
  <package id="VVVV.Core" version="31.7.0-develop-avalon-e-159" targetFramework="net45" />
  <package id="VVVV.PluginInterfaces" version="31.7.0-develop-avalon-e-159" targetFramework="net45" />
  <package id="VVVV.SlimDX" version="1.0.1" targetFramework="net40" />
  <package id="VVVV.System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net40" />
  <package id="VVVV.Utils" version="31.7.0-develop-avalon-e-159" targetFramework="net45" />
</packages>